In [4]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib as plt
from sklearn import linear_model

In [74]:
data = pd.read_csv("Pokemon 2.csv")
data.head()
print(data['Type 1'].value_counts()['Water'])
# boo = True
# for index, row in data.iterrows():
#     if boo:
#         for index in range(4,10):
#             print(row[index])
#     boo = False

112

In [102]:
#Train the Machine Learning model with the sample data
#Create a 2D array of values detailing the average of each stat for each typing
model = pd.DataFrame()
model['Type'] = ['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying']
stats = ['Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total_Num']


for column in stats:
    model[column] = 0

num_per_type = data['Type 1'].value_counts()

m = model.loc[model['Type'] == 'Water'].index

for i in num_per_type.index:
    m = model.loc[model['Type'] == i]
    model.loc[m.index, 'Total_Num'] = num_per_type[i]


for index1, typing in model.iterrows():
    for index2, pokemon in data.iterrows():
        if pokemon['Type 1'] == typing['Type']:
            for index in range(4,11):
                model.loc[index1, data.columns[index]] += pokemon[index]
    for col_index in range(1,8):
        #print(index1, col_index)
        #print(model.loc[index1, col_index])
        model.loc[index1, model.columns[col_index]] /= model.loc[index1,'Total_Num']
        

   
model.head()

69.90384615384616

,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total_Num
0,Grass,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,70
1,Fire,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,52
2,Water,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,112
3,Bug,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,69
4,Normal,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,98

In [8]:


#use the predictive model to guess a pokemon's typing based on its stats alone